# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Ss]rc/
[Ll]og/
[Cc]ache/
[Oo]ut/
[Oo]bj/
[Tt]emp/
*.zip
*.exe
*.dll
*.pdb
*.mdb
*.ilk
*.log

# Visual Studio cache
.vs/
*.suo
*.user
*.userprefs

# NuGet Packages
*.nupkg
*.snupkg

# OS-specific files
.DS_Store
Thumbs.db
*.cab
*.msi
*.msm
*.msp

# Project-specific temporary files
*.tmp
*.temp
*.tlog/
